services:
  db:
    image: postgres:15-alpine
    container_name: franchise-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: franchise_db
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: franchise-app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    restart: always

volumes:
  postgres_data: